* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.topBar {
  display: flex;
  width: 100%;
}

.testBoxL{
  width: 40vw;
  height: 80px;
  background-color: #666262;
  border: 2px solid #FFD700;
  border-radius: 10px;
  clip-path: polygon(
    0 0,         /* top-left corner */
    49% 0,       /* just before center */
    50% -20px,   /* pulled-up center "cut" */
    51% 0,       /* just after center */
    98% 0,      /* top-right corner */
    85% 100%,   /* bottom-right */
    0 100%       /* bottom-left */
  );
}
.testBoxR{
  margin-left: auto;
  width: 40vw;
  height: 80px;
  background-color: #666262;
  border: 2px solid #FFD700;
  border-radius: 10px;
  clip-path: polygon(
    2% 0,         /* top-left corner */
    49% 0,       /* just before center */
    50% -20px,   /* pulled-up center "cut" */
    51% 0,       /* just after center */
    100% 0,      /* top-right corner */
    100% 100%,   /* bottom-right */
    15% 100%       /* bottom-left */
  );
}


nav {
  white-space: normal;
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  nav{
    gap: 4rem;
    white-space: nowrap;
  }
}

.nav-link{
  display: inline-block; 
  text-decoration: none;
  margin-top: 1.5rem;
  padding: 1rem;
  color: white;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  will-change: filter;
  transition: filter 300ms;
}
.nav-link:hover{
  text-shadow: 
  0 0 5px #FFD700,
  0 0 10px #FFD700,
  0 0 20px #FFD700,
  0 0 30px #FFD700;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 2rem;
}

.tagline {
  font-family:'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 250;
}

.bold {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}

.subtitle {
  font-family:'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #aaa;
  margin: 1rem 0 2rem;
  max-width: 100%;
}

.cta-button {
  display: inline-block;            
  text-decoration: none;        
  background-color: #FFD700;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #887400;
}
